In [244]:
t1 = ()
t2 = (1, "two", 3)
print(t1)
print(t2)

()
(1, 'two', 3)

In [245]:
t3 = (1)
print(t3)
print(type(t3))
# type is int here.

1
<class 'int'>

In [246]:
t4 = (1,)
print(t4)
print(type(t4))
# but tuple here, because of the comma.

(1,)
<class 'tuple'>

In [247]:
t1 = (1, "two", 3)
t2 = (t1, 3.25)
print(t1)
print(t2)
print(t1 + t2)
print((t1 + t2)[3])
print((t1 + t2)[2:5])

(1, 'two', 3)
((1, 'two', 3), 3.25)
(1, 'two', 3, (1, 'two', 3), 3.25)
(1, 'two', 3)
(3, (1, 'two', 3), 3.25)

In [248]:
r1 = range(10)  # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
print(r1[2:6])  # 2, 3, 4
print(r1[2:6][2])  # 4

range(2, 6)
4

In [249]:
range(0, 7, 2) == range(0, 8, 2)  # Both are "0, 2, 4, 6" so this evaluates to True.

True

In [250]:
range(0, 7, 2) == range(6, -1, -2)  # First is "0, 2, 4, 6" but second is "6, 4, 2, 0"
                                    # Evaluates to False because order is wrong.

False

In [251]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
L3 = L1 + L2

print("L3 =", L3)
L1.extend(L2)
print("L1 =", L1)
L1.append(L2)
print("L1 =", L1)

L3 = [1, 2, 3, 4, 5, 6]
L1 = [1, 2, 3, 4, 5, 6]
L1 = [1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [252]:
def removeDups(L1, L2):
    """
    Assumes that L1 and L2 are lists.
    Removes any element from L1 that also occurs in L2.
    """
    for e1 in L1:
        if e1 in L2:
            L1.remove(e1)
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
removeDups(L1, L2)
print("L1 =", L1)

# This does not work because when the first iteration completes, L1[0] is removed from L1
# so LENGTH OF L1 IS REDUCED !! L1 becomes [2, 3, 4] Then when next iteration checks if L1[1] is in L2,
# L1[1] is 3, instead of 2. This causes a mess.

# Do NOT ever mutate the list you are iterating, just create a copy, like for e1 in L1[:] etc.

L1 = [2, 3, 4]

In [253]:
# List comprehension:

L = [x**2 for x in range(1, 7)]  # range object here is a sequence "1, 2, 3, 4, 5, 6"
print(L)  # After list comprehension L becomes, [1^2, 2^2, ..., 6^2]

[1, 4, 9, 16, 25, 36]

In [254]:
# GLOBAL VARIABLES

In [255]:
def fib(x):
    """
    Assumes x an int >= 0
    Returns Fibonacci of x
    """
    global numFibCalls
    numFibCalls += 1
    if x == 0 or x == 1:
        return 1
    else:
        return fib(x - 1) + fib(x - 2)

def testFib(n):
    for i in range(n + 1):
        global numFibCalls
        numFibCalls = 0
        print("fib of", i, "=", fib(i))
        print("fib called", numFibCalls, "times.")
        
# numFibCalls is defined at the "outermost" scope, because of global.

In [256]:
testFib(6)

fib of 0 = 1
fib called 1 times.
fib of 1 = 1
fib called 1 times.
fib of 2 = 2
fib called 3 times.
fib of 3 = 3
fib called 5 times.
fib of 4 = 5
fib called 9 times.
fib of 5 = 8
fib called 15 times.
fib of 6 = 13
fib called 25 times.

In [257]:
# DICTIONARIES

"""
Dicts are like lists but we index them using KEYS.
Think of a dictionary as a set of key/value pairs.
"""

'\nDicts are like lists but we index them using KEYS.\nThink of a dictionary as a set of key/value pairs.\n'

In [258]:
monthNumbers = {"Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5,
                1:"Jan", 2:"Feb", 3:"Mar", 4:"Apr", 5:"May"}
print("The third month is", monthNumbers[3])

# Note that the index [3] does NOT print "Apr", like it would in a list.
# Because 3 is the key for "Mar" in this dict, it prints "Mar"

The third month is Mar

In [259]:
print("Number of Mar is", monthNumbers["Mar"])

# Similarly here, we can use ["Mar"] as our index.

Number of Mar is 3

In [260]:
# Dictionaries are mutable.

monthNumbers["Mar"] = 31
print("Number of Mar is", monthNumbers["Mar"])
print(monthNumbers)

Number of Mar is 31
{'Jan': 1, 'Feb': 2, 'Mar': 31, 'Apr': 4, 'May': 5, 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May'}

In [261]:
monthNumbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
                1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}
keys = []
for e in monthNumbers:
    keys.append(str(e))
print(keys)
keys.sort()
print(keys)

['Jan', 'Feb', 'Mar', 'Apr', 'May', '1', '2', '3', '4', '5']
['1', '2', '3', '4', '5', 'Apr', 'Feb', 'Jan', 'Mar', 'May']

In [262]:
"""
The method keys returns an object of type dict_keys. This is an example of
a view object. The order in which the keys appear in the view is not defined. A
view object is dynamic in that if the object with which it is associated changes,
the change is visible through the view object.
"""

'\nThe method keys returns an object of type dict_keys. This is an example of\na view object. The order in which the keys appear in the view is not defined. A\nview object is dynamic in that if the object with which it is associated changes,\nthe change is visible through the view object.\n'

In [263]:
birthStones = {'Jan':'Garnet', 'Feb':'Amethyst', 'Mar':'Acquamarine',
               'Apr':'Diamond', 'May':'Emerald'}
months = birthStones.keys()
print(months)
birthStones['June'] = 'Pearl'
print(months)
print(type(months))
print(birthStones)

dict_keys(['Jan', 'Feb', 'Mar', 'Apr', 'May'])
dict_keys(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June'])
<class 'dict_keys'>
{'Jan': 'Garnet', 'Feb': 'Amethyst', 'Mar': 'Acquamarine', 'Apr': 'Diamond', 'May': 'Emerald', 'June': 'Pearl'}

In [264]:
# we can easily convert dict_keys to list. :

keys_list = list(birthStones.keys())
print(keys_list)
print(type(keys_list))

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June']
<class 'list'>

In [265]:
"""
Objects of type dict_keys can be iterated over using for, and membership can
be tested using in.
"""

'\nObjects of type dict_keys can be iterated over using for, and membership can\nbe tested using in.\n'

In [266]:
for k in birthStones:
    print(k)

# This for loop only iterates keys in dictionaries! not values!

Jan
Feb
Mar
Apr
May
June

In [267]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jun  8 12:37:37 2016

@author: ericgrimson
"""

def get_data(aTuple):
    nums = ()
    words = ()
    for t in aTuple:
        nums = nums + (t[0],)   
        if t[1] not in words:   
            words = words + (t[1],)
    min_nums = min(nums)
    max_nums = max(nums)
    unique_words = len(words)
    return (min_nums, max_nums, unique_words)


(small, large, words) = get_data(((1, 'mine'), 
                                  (3, 'yours'),
                                  (5, 'ours'),
                                  (7, 'mine')))

In [268]:
print("Largest number is", large)
print("Smallest number and unique word count are", (small, words), "respectively.")

Largest number is 7
Smallest number and unique word count are (1, 3) respectively.

In [269]:
c  = [(1, 2, 3), "Week 3", 6.453, [[1, 2, 3, 4], 5], 678, [True, False]]

print(c[0])
print(type(c[0]))

# My guess: 

# (1, 2, 3)
# type tuple

(1, 2, 3)
<class 'tuple'>

In [270]:
print(c[3:])
print(type(c[3:]))

# My guess: 
# [[[1, 2, 3, 4], 5], 678, [True, False]]
# type list

[[[1, 2, 3, 4], 5], 678, [True, False]]
<class 'list'>

In [271]:
print(c[3][0][2])
print(type(c[3][0][2]))

# My guess:
# 3
# type int

3
<class 'int'>

In [272]:
print(c[3][1])
print(type(c[3][1]))

# My guess:
# 5
# type int

5
<class 'int'>

In [273]:
print(c[::-2])
print(type(c[::-2]))

# My guess:
# [[True, False], [[1, 2, 3, 4], 5], "Week 3"]
# type list

[[True, False], [[1, 2, 3, 4], 5], 'Week 3']
<class 'list'>

In [274]:
print(c[:3])
print(type(c[:3]))

# My guess:
# [(1, 2, 3), "Week 3", 6.453]
# type list

[(1, 2, 3), 'Week 3', 6.453]
<class 'list'>

In [275]:
print(c[:1:-2])
print(type(c[:1:-2]))

# My guess:
# [[True, False], [[1, 2, 3, 4], 5]]
# type list

[[True, False], [[1, 2, 3, 4], 5]]
<class 'list'>

In [276]:
def returnStringLengths(string1, string2, string3):
    len1 = len(string1)
    len2 = len(string2)
    len3 = len(string3)
    
    # Return a tuple.
    return (len1, len2, len3)

In [277]:
lenfirst, lensecond, lenthird = returnStringLengths("abc", "q", "vbnm")
print(lenfirst)
print(type(lenfirst))
print(lensecond)
print(lenthird)

# Multiple assignment with tuples.

3
<class 'int'>
1
4

In [278]:
LengthTuple = returnStringLengths("Hi", "Hello", "Bye")
print(LengthTuple)

(2, 5, 3)

In [279]:
for length in LengthTuple:
    print(length)  # Prints each individual element in 
                   # returnStringLengths("Hi", "Hello", "Bye") which is equal to (2, 5, 3)

2
5
3

In [280]:
for i in range(len(LengthTuple)):
    print(LengthTuple[i])  # Second method.

2
5
3

In [281]:
def returnArgsAsTuple(*itemsTuple):  # When function's formal argument is defined with * in front,
                                     # actual arguments separated by commas are treated as a tuple.
    print(itemsTuple)

In [282]:
returnArgsAsTuple(1, 2, 3, 4)

(1, 2, 3, 4)

In [283]:
dogsTuple = (("dog1", ("dog2",)), (("dog3,"), ("dog4", "dog5")))

In [284]:
# To reach "dog5" :

print(dogsTuple[1][1][1])

dog5

In [285]:
# What items will return True for the expression <item> in dogsTuple ?
# My guess: ("dog1", ("dog2",)) and (("dog3,"), ("dog4", "dog5")) will return True.

print(("dog1", ("dog2",)) in dogsTuple)
print((("dog3,"), ("dog4", "dog5")) in dogsTuple)

True
True

In [286]:
# To reach "dog2":

print(dogsTuple[0][1][0])
print(type(dogsTuple[0][1][0]))

dog2
<class 'str'>

In [287]:
# because dogsTuple[0][1] returns a tuple (because of comma).
print(dogsTuple[0][1])
print(type(dogsTuple[0][1]))

('dog2',)
<class 'tuple'>

In [288]:
x = (1, 2, (3, 'John', 4), 'Hi')

In [289]:
"""
Write a procedure called oddTuples, which takes a tuple as input, 
and returns a new tuple as output, where every other element of the 
input tuple is copied, starting with the first one. So if test is the 
tuple ('I', 'am', 'a', 'test', 'tuple'), then evaluating oddTuples on 
this input would return the tuple ('I', 'a', 'tuple').
"""

def oddTuples(aTup):
    '''
    aTup: a tuple
    
    returns: tuple, every other element of aTup. 
    '''
    counter = 0
    oddTup = ()
    for item in aTup:
        counter += 1
        if counter%2 == 1:
            oddTup = oddTup + (item,)
    return oddTup

def testOddTuples():
    someTuples = ((1, 2, 3, 4, 5), ("a", "b", "c", "d"), ("lmao", "rofl", "lol"), ("Ra", "Ra", "Rasputin", "Lover", "Of", "The", "Russian", "Queen"))
    for tuple in someTuples:
        print(oddTuples(tuple))
    return None

In [290]:
testOddTuples()

(1, 3, 5)
('a', 'c')
('lmao', 'lol')
('Ra', 'Rasputin', 'Of', 'Russian')

In [291]:
# The "is" keyword is used to test if two variables refer to the same object.

x = ["apple", "banana", "cherry"]

y = ["apple", "banana", "cherry"]

print(x is y)

False

In [292]:
L = [1, -2, 3.4]
def applyToEach(L, f):
    """
    assumes L is a list, f a function
    mutates L by replacing each element, e, of L by f(e).
    """
    for i in range(len(L)):
        L[i] = f(L[i])

applyToEach(L, int)
print(L)

[1, -2, 3]

In [293]:
def applyFuns(L, x):
    for f in L:
        print(f(x))
    
applyFuns([abs, int, fib], 4)  # Input is a list of functions.
                               # abs(4), int(4), fib(4) is printed.

4
4
5

In [294]:
for element in map(abs, [1, -2, 3, -4]):  # map method calls the function of each element in the list and outputs a list with corresponding outputs.
    print(element)
    
print(type(map(abs, [1, -2, 3, -4])))  # It is a map type object.

1
2
3
4
<class 'map'>

In [295]:
L1 = [1, 28, 36]
L2 = [2, 57, 9]
for element in map(min, L1, L2):
    print(element)

# Here map method in this for loop first checks the [0]'th elementh in each list 
# and applies the min function to both of them. returns min(L1[0], L2[0]). 
# Then returns min(L1[1], L2[1]) and so on and so on.

1
28
9

In [296]:
a, b, c = map(min, L1, L2)  # With multiple assignment:
print(a)
print(b)
print(c)
print(map(min, L1, L2))

1
28
9
<map object at 0x7f87105295a0>

In [297]:
testList = [1, -4, 8, -9]

def applyToEach(L, f):
    for i in range(len(L)):
        L[i] = f(L[i])
    return L

In [298]:
testList = [1, -4, 8, -9]
applyToEach(testList, abs)
print(testList)

[1, 4, 8, 9]

In [299]:
testList = [1, -4, 8, -9]
def plus_1(x):
    return x + 1

applyToEach(testList, plus_1)
print(testList)

[2, -3, 9, -8]

In [300]:
testList = [1, -4, 8, -9]
def square_it(x):
    return x ** 2

applyToEach(testList, square_it)
print(testList)

[1, 16, 64, 81]

In [301]:
# DICTIONARIES

In [302]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jun  8 19:26:05 2016

@author: ericgrimson
"""

grades = {'Ana':'B', 'John':'A+', 'Denise':'A', 'Katy':'A'}

grades["John"]

'A+'

In [303]:
# grades["Sylvan"]  # raises error.

In [304]:
grades["Sylvan"] = "A"  # we create a new key:value pair.

print(grades["Sylvan"])  # no error now.
print(grades)

A
{'Ana': 'B', 'John': 'A+', 'Denise': 'A', 'Katy': 'A', 'Sylvan': 'A'}

In [305]:
print("John" in grades)  # True
print("Daniel" in grades)  # False

True
False

In [306]:
# Delete an entry :

del(grades["Ana"])
print(grades)  # Ana's entry is gone.

{'John': 'A+', 'Denise': 'A', 'Katy': 'A', 'Sylvan': 'A'}

In [307]:
for i in grades:
    print(i)

John
Denise
Katy
Sylvan

In [308]:
for key in grades.keys():
    print(key)

John
Denise
Katy
Sylvan

In [ ]:
# Values can be any type (immutable and mutable), can be duplicates, can be lists or even other dictionaries !
# But, keys must be unique and of immutable type (int, float, string, tuple, bool). Careful with float type as a key.
# NO order to keys and values !

In [309]:
# Lambda expression:

L = []
for i in map(lambda x,y: x**y, [1, 2, 3, 4], [3, 2, 1, 0]):
    L.append(i)
print(L)

[1, 4, 3, 1]

In [316]:
animals = {'a': 'aardvark', 'b': 'baboon', 'c': 'coati'}
x = animals.keys()
y = animals.values()

print(x)
print(y)

dict_keys(['a', 'b', 'c'])
dict_values(['aardvark', 'baboon', 'coati'])

In [ ]:
{'a': 'anteater', 'c': 'coati', 'd': 'donkey'}